HOST: http://www.google.com/

--- Userific-Server ---

---
Welcome to the documentation for the Userific Server project. Userific provides an way to manage users in your application via a rest api. Userific supports several different backends. No matter which backend is used, the RESTful api is the same for the server
---

--
User Resources
The following is a section of resources related to user management
--


Register a new user account
POST /register
> Content-Type: application/json
{ "email":"foo@example.com", "password": "barPassword" }
< 201
< Content-Type: application/json
{ "_id": "fooUserID", "email": "foo@example.com" }
+++++
< 409
< Content-Type: application/json; charset=utf-8
{"code": "MissingParameter", "message": "Register failed", "errors": [ { "param": "email", "msg": "required" }]}
+++++
< 409
< Content-Type: application/json; charset=utf-8
{"code": "MissingParameter", "message": "Register failed", "errors": [ { "param": "password", "msg": "password must be at least 4 characters long" }]}



Authenticate an existing user account
POST /authenticate
> Content-Type: application/json
{ "email":"foo@example.com", "password": "barPassword" }
< 200
< Content-Type: application/json
{ "_id": "fooUserID", "email": "foo@example.com" }
+++++
< 401
< Content-Type: application/json; charset=utf-8
{"code":"InvalidCredentials","message":"user not found"}
+++++
< 409
< Content-Type: application/json; charset=utf-8
{"code": "MissingParameter", "message": "Authenticate failed", "errors": [ { "param": "email", "msg": "required" }]}
+++++
< 409
< Content-Type: application/json; charset=utf-8
{"code": "MissingParameter", "message": "Authenticate failed", "errors": [ { "param": "password", "msg": "required" }]}



Change email for an existing user account
When changing email, the following fields are required

* `currentEmail` - the email address of the account
* `password`     - the password used to login to the account
* `newEmail`     - the new email address of the account

If the `changeEmail` request completes correctly, a status code of `200` will be returned. You can the call the authenticate route using the new email address and password to login

POST /changeEmail
> Content-Type: application/json
{"currentEmail":"foo@example.com", "password": "fooPassword", "newEmail": "newEmail2@example.com" }
< 200
< Content-Type: application/json; charset=utf-8
{ "_id": "fooUserID", "email": "newEmail2@example.com" }
+++++
< 401
< Content-Type: application/json; charset=utf-8
{"code":"InvalidCredentials","message":"user not found"}
+++++
< 409
< Content-Type: application/json; charset=utf-8
{"code": "MissingParameter", "message": "changeEmail failed", "errors": [ { "param": "currentEmail", "msg": "required" }, { "param": "newEmail", "msg": "required" }, { "param": "password", "msg": "required" }]}


Change password for an existing user account

When changing password, the following fields are required

* `currentPassword` - the password address of the account
* `email`           - the email address used to login to the account
* `newpassword`     - the new password of the account

If the `changePassword` request completes correctly, a status code of `200` will be returned. You can the call the authenticate route using the email address and new password to login
POST /changePassword
> Content-Type: application/json
{ "email":"foo@example.com", "currentPassword": "fooPassword", "newPassword": "newBarPassword2" }
< 200
< Content-Type: application/json
{ "_id": "fooUserID", "email": "foo@example.com" }
+++++
< 401
< Content-Type: application/json; charset=utf-8
{"code":"InvalidCredentials","message":"user not found"}
+++++
< 409
< Content-Type: application/json; charset=utf-8
{"code": "MissingParameter", "message": "changePassword failed", "errors": [ { "param": "currentPassword", "msg": "required" }, { "param": "newPassword", "msg": "required" }, { "param": "email", "msg": "required" }]}


Ping the server to make sure it online
GET /ping
< 200
< Content-Type: application/json
{ "message": "pong"}
